.header{
    height: 100px;
}
.sidebar{
height: 300px;
}
.maincontent{
    height: 500px;
}
.footer{
    height: 100px;
}
.list{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
#txt{
    width: 300px;
    margin-top: 1em;
    display: none;
}
