.showTime{
    font-size: 5em;
    }
    #EmailForm{
        border-top: 0;
    }
    #formID{
        opacity: 0;;
    }
    body{
        overflow: hidden;
        margin: 0;
    }
    video{
        left: 0;
        top: 0;
        position: fixed;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .content{
        position: absolute;
    }